<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>HTML5</title>
    <meta name="description" content="HTML5">
    <meta name="author" content="SitePoint">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="js/demo.js?<?=time()?>"></script>
</head>
<body>
<script>
    $(function() {
        alert('Подключена последняя версия jQuery через CDN');
    });
</script>
</body>
</html>