<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Sing in</title>

</head>
<body class="text-center">
<form class="dropdown w-25 p-5 mx-auto" method="post" action="/login">
    <h1 class="h3 mb-3 fw-normal text-left">Please sign in</h1>
    <div class="form-group">
        <input type="text" name="email" class="form-control" id="exampleDropdownFormEmail2"
               placeholder="Email address">
        <input type="password" name="password" class="form-control" id="exampleDropdownFormPassword2"
               placeholder="Password">
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Sign in</button>
</form>

</body>
</html>